

.header{
    margin-bottom:12px;
    box-shadow:var(--notes-box-shadow);
   
}
.navbar{
    background-color:#25272a1c !important;
}
.header-logo{
    width: 65px;
    border-radius: 50%;
    height: 65px;
}


.profile-wrapper{
    align-items: center;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.profile-img{
    height:60px;
    width:60px;
    border-radius:50%;
    background-color:var(--gray)
}

.profile-userName{
    margin-right:40px;
    padding:10px;
    font-weight: 600;
    font-size: 16px;
}

.profile-options-icon{
font-size:25px;
}

.nav-link{
    border-radius: 16px !important;
    padding: 10px !important;
    background-color: #fff !important;
    margin:5px;
    font-weight: 600;
}


 .nav-link:hover{
    background-color:#424242 !important;
    color:#fff;
}



@media only screen and (max-width:400px){
    .profile-wrapper{
    width:50%;
    margin:10px;
    }
}

@media only screen and (max-width:800px){
    .profile-wrapper{
    margin:10px;
    }
}
